# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore IDE settings (for VS Code)
.vscode/

# Ignore build artifacts
build/
dist/
